.color-section {
    background-color: lighten($dark-color, 5%);
    width: $color-display-width;
    margin: 10vh 0;
    // border: 1px solid lighten($dark-color, 0%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -10px -10px 20px hsla(0, 0%, 100%, 0.037), 
    10px 10px 20px hsla(0, 0%, 0%, 0.516);
    height: $color-display-height;

    .color-display {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: $color-display-height * calc(2/3);
        overflow-x: scroll;
        gap: 0;

        .color-display-card {
            display: grid;
            place-items: center; 
            flex: 1;
            height: 100%;

            h2 {
                color: $light-color;
                font-size: 2rem;
                background-color: $dark-color;
                padding: 3px 15px;
                border-radius: 100px;
                text-align: center;
            }

            h3 {
                overflow-wrap: normal;
                text-align: center;
            }
        }
    }

    .color-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: $color-display-height * calc(1/3);

        .color-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                color: $light-color;
                font-size: 2rem;
                text-align: center;
            }
            
            h3 {
                color: $light-color;
                font-size: 1.5rem;
                text-align: center;

            }
        }
    }
}

@media (max-width: 1200px) {
    .color-section {
        width: 90vw;

        .color-display {
        
            .color-display-card {
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}


@media (max-width: 767px) {

    h2 {
        font-size: 1rem !important;
    }

    h3 {
        font-size: 0.8rem !important;
    }    
}

@media (max-width: 500px) {
    a{
        font-size: 0.7rem !important;
    }

    h2 {
        font-size: .8rem !important;
    }

    h3 {
        font-size: 0.6rem !important;
    }    
}
