.cd-comp {

    .color-section {
        background-color: $rainbow-blue;
        width: $color-display-width;
        margin-top: 15px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.048);
        height: fit-content;

        .color-display {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: $color-display-height * calc(2/3);
            overflow-x: scroll;
            gap: 0;
            
            @keyframes fade-in-animation {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }

            .color-display-card {
                display: grid;
                place-items: center; 
                flex: 1;
                height: 100%;
                animation: fade-in-animation .5s ease-in-out;

                h2 {
                    color: $dark-color;
                    font-size: 2rem;
                    padding: 2px 12px;
                    border-radius: 100px;
                    text-align: center;
                    line-height: 1.3em;
                    
                }

                h3 {
                    overflow-wrap: normal;
                    text-align: center;
                }
            }
        }

        .color-information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: fit-content;
            padding: 20px;

            .color-description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // margin: 20px;

                h2 {
                    color: $white;
                    font-size: 1.7rem;
                    text-align: center;
                }
                
                h3 {
                    color: $white;
                    font-size: 1.5rem;
                    text-align: center;

                }

                code {
                    color: $rainbow-red;
                    font-size: 1.2rem;
                    text-align: left;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    background-color: lighten($dark-color, 10%);
                    width: 90%;
                    padding: 8px;
                    line-height: 1.6em;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .color-section {
        width: 90vw;

        .color-display {
        
            .color-display-card {
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .color-section {

        h2 {
            font-size: 1rem !important;
        }

        h3 {
            font-size: 0.9rem !important;
        }    

        code {
            font-size: .7rem !important;
        }
    }
}

@media (max-width: 500px) {
    .color-section {

        a{
            font-size: 0.8rem !important;
        }

        h2 {
            font-size: 1rem !important;
        }

        h3 {
            font-size: 0.8rem !important;
        }    

        code {
            font-size: .7rem !important;
        }
    }
}
