.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: $header-height !important;
    background-color: darken($rainbow-blue, 15%);
    box-shadow: 0 0px 15px #0000007d;
    transition: opacity 0.3s ease, height 0.3s ease;

    .logo {

       .logo-img {
            height: 4em;
            width: auto;
        }
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .nav-links {
            box-shadow: inset -2px -2px 2px hsla(0, 0%, 100%, 0.027), 
            inset 3px 3px 3px hsla(0, 0%, 0%, 0.164);
            padding: 9px 14px;
            border-radius: 100px;

            a {
                font-size: 0.9em;
                color: $light-color;
            }

            &:hover {
                a {
                    color: $rainbow-yellow
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .header {
        .logo {
            .logo-img {
                height: 3.13em !important;
            }
        }
    }
}