.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 15vh;
  background-color: #0b0b0b;
  box-shadow: 0 0px 10px #3e3e3e;
}
.header .logo h1 {
  margin: 0px;
  color: #e1e1e1;
}
.header .nav-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header .nav-bar .nav-links a {
  margin: 0px;
  color: #e1e1e1;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #0b0b0b;
  padding: 50px 0;
}
.footer .footer-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer .footer-row .footer-stuff .copyright {
  margin: 0;
}
.footer .footer-row .socials-footer-stuff {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 20vw;
}
.footer .footer-row .socials-footer-stuff .socials {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  filter: brightness(0.8);
}

.color-section {
  background-color: #e1e1e1;
  width: 70%;
  margin: 4vh auto;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -10px -10px 12px rgba(255, 255, 255, 0.3450980392), 10px 10px 14px rgba(0, 0, 0, 0.1294117647);
  height: 600px;
}
.color-section .color-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 400px;
  overflow: hidden;
  gap: 0;
}
.color-section .color-display .color-display-card {
  display: grid;
  place-items: center;
  flex: 1;
  height: 100%;
}
.color-section .color-display .color-display-card h2 {
  color: #e1e1e1;
  font-size: 2rem;
  background-color: #0b0b0b;
  padding: 3px 15px;
  border-radius: 100px;
}
.color-section .color-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.color-section .color-information .color-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-section .color-information .color-description h2 {
  color: #0b0b0b;
  font-size: 2rem;
}
.color-section .color-information .color-description h3 {
  color: #0b0b0b;
  font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .color-section {
    width: 90vw;
  }
  .color-section .color-display .color-display-card h2 {
    font-size: 1.5rem;
  }
}
.home {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.about {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.contact-page {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.page-top-padding {
  padding-top: 15vh;
}

h1 {
  color: #e1e1e1;
}

h2 {
  color: #e1e1e1;
}

h3 {
  color: #e1e1e1;
}

p {
  color: #e1e1e1;
}

body {
  background-color: #d4d4d4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Helvetica, Arial, sans-serif !important;
}

/*# sourceMappingURL=global.css.map */
