@import 'variables';
@import '../components/components';
@import '../pages/pages';

body {
    margin: 0;
    background-color: lighten($dark-color, 5%);
    font-family:  'Century Gothic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, Arial, sans-serif !important;
    font-weight: lighter;
}

a {
    margin: 0px;
    transition: color 0.2s ease;
    
    &:hover {
        color: $rainbow-yellow;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #151519;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: darken($light-color, 10%);
    transition: background-color 0.2s ease
    // border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: lighten($rainbow-yellow, 20%);
}