@import 'variables';
@import '../components/components';
@import '../pages/pages';

@font-face {
    font-family: 'Inter';
    src: url('js/../../public/Inter-VariableFont_slnt,wght.woff') format('woff');
}

body {
    margin: 0;
    background-color: lighten($kinetic-gray, 35%);
    font-family:  'Inter', 'Verdana', 'Century Gothic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, Arial, sans-serif !important;
    font-weight: lighter;
}

a {
    margin: 0px;
    transition: color 0.2s ease;
    color: $dark-color;
    text-decoration: none;

    &:hover {
        color: darken($rainbow-blue, 40%);
    }
}

h2 {
    font-size: 2rem;
    font-weight: lighter;
    color: darken($dark-color, 10%);
    margin: 0;
    line-height: 1.5em;
}

h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: $dark-color;
    margin: 0;
    line-height: 1.5em;
}

p {
    font-size: 1.2rem;
    font-weight: lighter;
    color: $dark-color;
    margin: 0;
    line-height: 1.5em;
}




// /* width */
// ::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
//     padding: 2px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     opacity: .5;
//     background-color: darken($rainbow-blue, 30%);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background-color: darken($rainbow-blue, 50%);
//     transition: background-color 0.2s ease
//     // border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background-color: lighten($rainbow-blue, 20%);
// }