:root {
    --dark-color: #010a0e;
    --light-color: #f1f1f1;
    --rainbow-red: #f35c5c;
    --rainbow-orange: #f36849;
    --rainbow-yellow: #ffcb6b;
    --rainbow-green: #99e550;
    --rainbow-blue: #54c7ec;
    --rainbow-purple: #a16ae8;
    --rainbow-pink: #ff5991;
}