.not-found {
    background-image: url('js/../../public/spotlight-cutoff.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
}

@media (max-width: 1200px) {
    .not-found {
        background-size: 800px;
    }
}

@media (max-width: 900px) {
    .not-found {
        background-size: 600px;
    }
}

@media (max-width: 600px) {
    .not-found {
        background-size: 450px;
    }
}
