@import 'home';
@import 'about';
@import 'contact';
@import 'disclaimer';
@import 'notFound';

// Default scss for all pages
.page-padding {
    padding-top: $header-height;
    padding-left: 10vw;
    padding-right: 10vw;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.page-min-height {
    min-height: 82.2vh - $header-height;
}

h1 {
    color: $light-color;
}

h2 {
    color: $light-color;
}

h3 {
    color: $light-color;
}

p {
    color: $light-color;
}