@import 'home';
@import 'about';
@import 'contact';
@import 'disclaimer';

// Default scss for all pages
.page-top-padding {
    padding-top: $header-height;
    padding: 10vh;
}

.page-min-height {
    min-height: 82.2vh - $header-height;
}

h1 {
    color: $light-color;
}

h2 {
    color: $light-color;
}

h3 {
    color: $light-color;
}

p {
    color: $light-color;
}